<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerController</servlet-name>
        <servlet-class>controllers.ManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>controllers.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitOrderController</servlet-name>
        <servlet-class>controllers.SubmitOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTableStatusController</servlet-name>
        <servlet-class>controllers.ShowTableStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controllers.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderController</servlet-name>
        <servlet-class>controllers.CreateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrderController</servlet-name>
        <servlet-class>controllers.ShowOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeTableStatusController</servlet-name>
        <servlet-class>controllers.ChangeTableStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseFoodController</servlet-name>
        <servlet-class>controllers.ChooseFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFoodsController</servlet-name>
        <servlet-class>controllers.LoadFoodsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCookFoodController</servlet-name>
        <servlet-class>controllers.ViewCookFoodController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitOrderController</servlet-name>
        <url-pattern>/SubmitOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerController</servlet-name>
        <url-pattern>/ManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/InsertController</url-pattern>
        <servlet-name>ShowTableStatusController</servlet-name>
        <url-pattern>/ShowTableStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderController</servlet-name>
        <url-pattern>/CreateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrderController</servlet-name>
        <url-pattern>/ShowOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeTableStatusController</servlet-name>
        <url-pattern>/ChangeTableStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseFoodController</servlet-name>
        <url-pattern>/ChooseFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFoodsController</servlet-name>
        <url-pattern>/LoadFoodsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCookFoodController</servlet-name>
        <url-pattern>/ViewCookFoodController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
